<div class="page-wrap">
                <div class="app-sidebar colored">
                    <div class="sidebar-header">
                        <a class="header-brand" href="/admin">
                            <div class="logo-img">
                               <img src="{{ asset('assets') }}/admin/src/img/brand-white.svg" class="header-brand-img" alt="lavalite"> 
                            </div>
                            <span class="text">ThemeKit</span>
                        </a>
                        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                    </div>
                    
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel">Navigation</div>
                                <div class="nav-item active">
                                    <a href="/admin/"><i class="ik ik-home"></i><span>Home</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="/admin/setting"><i class="ik ik-settings"></i><span>Settings</span></a>
                                </div>

                                <div class="nav-lavel">UI Element</div>
                                <div class="nav-item has-sub">
                                    <a class="nav-item-single"><i class="ik ik-layers"></i><span>Category</span></a>
                                    <div class="submenu-content">
                                        <a href="/admin/category" class="menu-item">Category Index</a>
                                        <a href="/admin/category/new" class="menu-item">Create a New Category</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a class="nav-item-single"><i class="ik ik-gitlab"></i><span>Car</span></a>
                                    <div class="submenu-content">
                                        <a href="/admin/car" class="menu-item">Car Index</a>
                                        <a href="/admin/car/new" class="menu-item">Create a New Car</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a class="nav-item-single"><i class="ik ik-image"></i><span>Image</span></a>
                                    <div class="submenu-content">
                                        <a href="/admin/image" class="menu-item">Image Index</a>
                                        <a href="/admin/image/new" class="menu-item">Create a New Image</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a class="nav-item-single"><i class="ik ik-user"></i><span>User</span></a>
                                    <div class="submenu-content">
                                        <a href="/admin/user" class="menu-item">User Index</a>
                                        <a href="/admin/user/new" class="menu-item">Create a New User</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a class="nav-item-single"><i class="ik ik-shopping-bag"></i><span>Orders</span></a>
                                    <div class="submenu-content">
                                        <a href="/admin/orders" class="menu-item">All Orders</a>
                                        <a href="/admin/orders/new" class="menu-item">New Orders</a>
                                        <a href="/admin/orders/accepted" class="menu-item">Accepted Orders</a>
                                        <a href="/admin/orders/onway" class="menu-item">OnWay Orders</a>
                                        <a href="/admin/orders/canceled" class="menu-item">Canceled Orders</a>
                                        <a href="/admin/orders/completed" class="menu-item">Completed Orders</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a class="nav-item-single"><i class="ik ik-help-circle"></i><span>FAQ</span></a>
                                    <div class="submenu-content">
                                        <a href="/admin/faq" class="menu-item">FAQ Index</a>
                                        <a href="/admin/faq/new" class="menu-item">Create a New FAQ</a>
                                    </div>
                                </div>
                                <div class="nav-item">
                                    <a href="/admin/message"><i class="ik ik-mail"></i><span>Messages</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="/admin/comment"><i class="ik ik-message-circle"></i><span>Comments</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>