{% extends 'base.html.twig' %}



{% block body %}
<div class="card">
    <div class="card-header"><h1>{{ name }}</h1></div>
    <div class="card-body">

    {{ include('admin/user/_form.html.twig') }}


        <br><a href="{{ path('admin_user_index') }}"><button class="btn btn-dark"><i class="ik ik-arrow-left"></i>back to list</button></a>
    </div>
</div>
{% endblock %}
